<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (typeof title !='undefined' ) { %>
        <title>
            <%=title%>
        </title>
        <% } else { %>
            <title>Endeavor</title>
            <% } %>
                <link rel="stylesheet" href="/styles/overallstyles.css">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
                <link rel="shortcut icon" href="../src/assets/img/favicon.ico">
</head>

<body>
    <%- include('./navbar') %>
        <main class="container">
            <%- include('./flash') %>
                <%- body %>
        </main>
        <%- include('./footer') %>

</body>

</html>